.App {
  
}

.header {
  background-color: darkblue;
  height: 150px;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  color: white;
  padding-top: 30px;
}

.body {
  max-width: 980px;
  margin: auto;
  margin-bottom: 50px;
}